<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show the Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your Post Details</h2>
    <p>Post id :<%= post.id %></p>
    <div id="post">
        <h2 id="user"> @<%= post.username %></h2>
        <h3>@<%= post.content %></h3>
    </div>
</body>
</html>